@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body{
    margin: 0;
}
header{
    background-color: #44609d;
    color:#fff;
    font-size: 14px;
}
.container{
    padding:15px 30px 0;
    width: 600px !important;
    max-width: 0 auto;
}
.header-input{
    margin-right: 20px;
}
.header-input>p{
    color: #86a0d2;
}
#Login-Button{
    padding: 2px 5px;
    background-color: #627cae;
    color: #fff;
    border: none;
    margin-top: 27px;
}
label{
    margin-bottom: 5px;
}
section{
    background-color: #dbdfeb;
    height: 100vh;
}
section>.container{
    width: 600px !important;
}
section>.h1{
    font-weight: bold;
}
.description{
    font-size:22px;
}
.form-group>input{
    height: 45px;
}
::placeholder{
    font-size:20px;
}
.dob>p{
    font-size: 20px;
}
.birthday{
    font-size:20px;
}
.btn-group>button{
    height: 35px;
}
.btn-group__description,.bottom-description{
    font-size: 11px;
}
.btn-group__description>a,.bottom-description>a{
    color: #124cb1;
    text-decoration: none;
}
.btn-group__description>a span{
    margin-left: 10px;
    margin-top: -5px;
}
.btn-success{
    background-color: #63a450;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid green !important;
}
